<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/category.css">
    <title>Document</title>
</head>
<body>
    <section class = "category">
        <div class = "container">
            <div class = "category-top row">
                <p> Home Page </p> <span> </span> <p>Shoes</p> <span> </span> <p> New Arrival</p>
            </div>
        </div>
        <div class ="container"> 
            <div class ="row">
                <div class ="category-left">
                    <ul>
                        <li class = " category-left-li"> <a href ="#"> Dress</a>
                            <ul>
                                <li><a href ="#"> New Arrival</a> </li>
                                <li><a href ="#"> New Arrival</a> </li>
                                <li><a href ="#"> New Arrival</a> </li>
                            </ul>
                        </li>
                        
                        <li class = " category-left-li"> <a href = ""> Shoes</a>
                            <ul>
                                <li><a href ="#"> New Arrival</a> </li>
                                <li><a href ="#"> New Arrival</a> </li>
                                <li><a href ="#"> New Arrival</a> </li>
                            </ul>
                        </li>
                        <li class = " category-left-li"> <a href = ""> Accessories</a>
                            <ul>
                                <li><a href ="#"> New Arrival</a> </li>
                                <li><a href ="#"> New Arrival</a> </li>
                                <li><a href ="#"> New Arrival</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class ="category-right row">
                    <div class = "category-right-top">
                        <p> New Arrival</p>
                    </div>

                    <div class = "category-right-top-item">
                        <button> <span> Filter </span> <i class="fa-solid fa-square-caret-down"></i></button>
                    </div>

                    <div class = "category-right-top-item">
                        <select name="" id=""> 
                            <option value=""> Sort </option></select>
                            <option value=""> Lowest to Highest price </option></select>
                            <option value=""> Highest to Lowest price </option></select>
                    </div>
                </div>

                <div class=" category-right-content">
                    <div class="category-right-content-item">
                        <img src="...." alt="">
                        <h1> Name of product</h1> 
                        <p> a <sup>VND</sup></p>
                </div>

                <div class=" category-right-content">
                        <div class="category-right-content-item">
                            <img src="...." alt="">
                            <h1> Name of product</h1> 
                            <p> a <sup>VND</sup></p>
                </div>
                        
                <div class=" category-right-content">
                            <div class="category-right-content-item">
                                <img src="...." alt="">
                                <h1> Name of product</h1> 
                                <p> a <sup>VND</sup></p>
                </div>

                <div class=" category-right-content">
                                <div class="category-right-content-item">
                                    <img src="...." alt="">
                                    <h1> Name of product</h1> 
                                    <p> a <sup>VND</sup></p>
                </div>    

                <div class=" category-right-content">
                    <div class="category-right-content-item">
                        <img src="...." alt="">
                        <h1> Name of product</h1> 
                        <p> a <sup>VND</sup></p>
                </div>
                
                </div>
            </div>
        </div>

    </section>
</body>
</html>
